.full-width {
  width: 250px;
  font-size: 15px;
}

.btn-style {
  background-color: #04A3E3;
  border-radius: 35px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: 210px;
  margin: 10px 5px 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  font-size: medium;
  font-stretch: expanded;
  font-weight: 500;
  font-variant: all-small-caps;
}

.btn-disabled {
  cursor: not-allowed;
}

div,
mat-checkbox,
button {
  font-family: Roboto, "Helvetica Neue", sans-serif
}

.disabled-elem {
  cursor: not-allowed;
}

.text-area-disabled {
  background-color: rgb(247, 247, 242);
}

.report-error-popup-wrapper {

  .mat-checkbox-label,
  .mat-radio-label {
    white-space: unset;
  }
}

.ongoing-session-text {
  color: red;
}

.faliure-type-model {
  @media (min-width: 1280px) {
    padding: 20px 50px 0;
  }

  h1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;

    @media (min-width: 768px) {
      flex-direction: row;
      text-align: left;
    }

    span {
      cursor: pointer;
      margin-right: 25px;
      
      &:hover {
        text-decoration: underline;
      }
    }

    img {
      margin-right: 25px;

      @media (min-width: 1280px) {
        margin-left: -40px;
      }
    }

    div {
      display: block;
      line-height: 1;

      @media (min-width: 1280px) {
        display: inline-block;
        margin-left: 40px;
      }
    }
  }

  mat-checkbox {
    margin-bottom: 15px;
  }

  .button-wrapper {
    margin-top: 25px;
  }
}
