/* $error-pages
 ------------------------------------------*/
 .session {
    position: relative;
    z-index: 4000;
    min-height: 100vh;
    background-color: white; 
  }
  
  .session-content {
    padding: 40px;    
    min-height: 100%;
  }
  
  .session-wrapper {   
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }
  
  .error-title {
    font-size: 150px;
    line-height: 1.2;
    font-weight: 900;
    display: inline-table;
    position: relative;    
    padding: 0 ;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 0 ;    
  }
  
  .error-subtitle {
    font-size: 32px;
    font-weight: 300;
  }
  