<div class="session-content middle">
  <!-- <div class="session-wrapper inner" style="width:600px;"> -->
  <div class="session-wrapper inner">
    <mat-card>
      <mat-card-content>

        <div class="text-xs-center auth-logo" fxLayout="row"
          fxLayoutAlign="center center" style="cursor: default;">
          <img class="logo-main" src="assets/images/main-menu/main-logo.svg" />
          <div class="logo-text">{{logoTitle}}</div>
        </div>

        <div class="text-xs-center pb-1">
          <p class="text-muted">{{ 'RESET_PASSWORD.SUBTITLE' | translate }}</p>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div fxLayout="column" fxLayoutAlign="space-around">
            <div class="pb-1" hidden>
              <mat-form-field style="width: 100%">
                <input matInput type="text" [formControl]="form.controls['Token']" placeholder="Token" autofocus>
              </mat-form-field>
              <mat-error *ngIf="form.controls['Token'].touched && form.controls['Token'].hasError('required')" class="md-text-warn">You must include the emailed token.</mat-error>
            </div>
            <!-- passowrd -->
            <div class="pb-1">
              <mat-form-field style="width: 100%">
                <input matInput type="password" [formControl]="form.controls['Password']" placeholder="{{ 'REGISTER.PASSWORD' | translate }}">
              </mat-form-field>
              <mat-error *ngIf="form.controls['Password'].touched && form.controls['Password'].hasError('required')" class="md-text-warn">{{ 'RESET_PASSWORD.NEW_PASSWORD_ERROR' | translate }}</mat-error>
            </div>
            <!-- confirm password -->
            <div class="pb-1">
              <mat-form-field style="width: 100%">
                <input matInput type="password" [formControl]="form.controls['ConfirmPassword']" placeholder="{{ 'REGISTER.CONFIRM_PASSWORD' | translate }}">
              </mat-form-field>
              <mat-error *ngIf="form.controls['ConfirmPassword'].touched && form.controls['ConfirmPassword'].hasError('required')" class="md-text-warn">{{ 'REGISTER.CONFIRM_PASSWORD_REQ_ERROR' | translate }}</mat-error>
              <mat-error *ngIf="form.controls['ConfirmPassword'].errors?.equalTo" class="md-text-warn">{{ 'RESET_PASSWORD.PASSWORD_MATCH_ERROR' | translate }}</mat-error>
            </div>

            <mat-error *ngIf="form.hasError('')" class="md-text-warn">{{form.errors['']}}</mat-error>
            <!-- submit -->
            <button mat-raised-button color="primary" class="btn-block" type="submit" [disabled]="!form.valid">{{ 'RESET_PASSWORD.BTN_TXT' | translate }}</button>
          </div>
          <div class="pt-1 pb-1 text-xs-center">
            {{ 'RESET_PASSWORD.FOOTER_TXT' | translate }}
            <a class="fnt-color" [routerLink]="['/auth/signin']"> {{ 'RESET_PASSWORD.LOGIN_BTN_TXT' | translate }}</a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>