<div style="position: absolute;">
  <mat-card>
    <h1> Vilkår og betingelser</h1>

    <mat-card-content>
      <div>
        ​Velkommen til CityBike! CityBike og dets medarbeidere gir sine tjenester til deg underlagt følgende betingelser.His du besøker
        dette nettstedet, godtar du disse vilkårene. Vennligst les dem nøye.
      </div>

      <h3>
        PERSONVERN
      </h3>
      <div>
        Vennligst se vår personvernerklæring, som også styrer ditt besøk på nettstedet vårt, for å forstå vår praksis.
      </div>

      <h3>
        ELEKTRONISK KOMMUNIKASJON
      </h3>
      <div>
        Når du besøker CityBike eller sender e-post til oss, kommuniserer du elektronisk med oss. Du samtykker i å motta kommunikasjon
        fra oss elektronisk. Vi kommuniserer med deg via e-post eller ved å legge ut meldinger på dette nettstedet. Du er
        enig i det Alle avtaler, merknader, opplysninger og annen kommunikasjon som vi gir deg elektronisk, tilfredsstiller
        lovlig krav om at slik kommunikasjon skal være skriftlig.
      </div>
      <h3>
        OPPHAVSRETT
      </h3>
      <div>
        Alt innhold som er inkludert på dette nettstedet, for eksempel tekst, grafikk, logoer, knappikoner, bilder, lydklipp, digitale
        nedlastinger, data kompileringer og programvare, tilhører CityBike eller dets innholdsleverandører og beskyttet av
        internasjonale lov om opphavsrett. Samlingen av alt innhold på dette nettstedet er den eksklusive egenskapen til
        CityBike, med opphavsrett forfatterskap for denne samlingen av CityBike, og beskyttet av internasjonale lover om
        opphavsrett.
      </div>
      <h3>
        HANDELSMERKER
      </h3>
      <div>
        CityBikes varemerker og handelsklær kan ikke brukes i forbindelse med noe produkt eller tjeneste som ikke er CityBikes, i
        noen måte som sannsynligvis vil føre til forvirring blant kundene, eller på noen måte som forstyrrer eller diskuterer
        CityBike. Alle andre varemerker som ikke eies av CityBike eller dets datterselskaper som vises på dette nettstedet,
        tilhører deres respektive eiere, som kan eller ikke er tilknyttet, forbundet med eller sponset av CityBike eller
        dets datterselskaper.
      </div>
      <h3>
        LISENS OG SITE TILGANG
      </h3>
      <div>
        CityBike gir deg et begrenset lisens for å få tilgang til og personlig bruk av dette nettstedet og ikke laste ned (annet
        enn side caching) eller endre det, eller deler av det, bortsett fra med uttrykkelig skriftlig samtykke fra CityBike.
        Denne lisensen gjør detikke inkludere videresalg eller kommersiell bruk av dette nettstedet eller dets innhold: enhver
        innsamling og bruk av produktoppføringer,beskrivelser eller priser: enhver avledet bruk av dette nettstedet eller
        dets innhold: enhver nedlasting eller kopiering av kontoinformasjon til fordel for en annen kjøpmann: eller bruk
        av data mining, roboter eller lignende datainnsamling og utvinning  verktøy. Dette nettstedet eller deler av dette
        nettstedet må ikke gjengis, dupliseres, kopieres, selges, videreselges, besøkt eller  ellers utnyttet for kommersielt
        formål uten skriftlig samtykke fra CityBike. Du kan ikke ramme eller  bruke innrammingsteknikker for å vedlegge varemerker,
        logoer eller annen proprietær informasjon (inkludert bilder, tekst,  sideoppsett eller skjema) av CityBike og våre
        medarbeidere uten skriftlig skriftlig samtykke. Du må ikke bruke noen metakoder  eller annen "skjult tekst" som bruker
        CityBikes navn eller varemerker uten uttrykkelig skriftlig samtykke fra CityBike.  Uautorisert bruk opphører tillatelsen
        eller lisensen gitt av CityBike. Du får en begrenset, tilbakekallelig,  og ikke-eksklusiv rett til å opprette en
        hyperkobling til hjemmesiden til CityBike så lenge linken ikke viser CityBike,  dets medarbeidere, eller deres produkter
        eller tjenester i en falsk, villedende, nedsettende eller ellers støtende sak.  Du må ikke bruke noen CityBike-logoer
        eller annen proprietær grafikk eller varemerke som en del av lenken uten uttrykk  skriftlig tillatelse.
      </div>
      <h3>
        DITT MEDLEMSKAP REGNSKAP
      </h3>
      <div>
        Hvis du bruker dette nettstedet, er du ansvarlig for å opprettholde konfidensialiteten til din konto og passord og for å
        begrense   tilgang til datamaskinen din, og du godtar å akseptere ansvar for alle aktiviteter som skjer under kontoen
        din   eller passord. Hvis du er under 18 år, kan du bare bruke vår nettside med involvering av en forelder eller
        verge. citybike   og dets medarbeidere forbeholder seg retten til å nekte tjenesten, avslutte kontoer, fjerne eller
        redigere innhold, eller avbestille bestillinger   etter eget skjønn.
      </div>
      <h3>
        RESULTATER, KOMMENTARER, E-POSTER, OG ANDRE INNHOLD
      </h3>
      <div>
        Besøkende kan legge inn vurderinger, kommentarer og annet innhold: og sende inn forslag, ideer, kommentarer, spørsmål eller
        annen informasjon, så lenge innholdet ikke er ulovlig, uanstendig, truende, ærekrenkende, invasiv av personvern,
        krenkelse av intellektuelle eiendomsrett, eller på annen måte skadelig for tredjeparter eller ufordelaktig og består
        ikke av eller inneholder programvare virus, politisk kampanjer, kommersiell oppfordring, kjedebrev, masseforsendelser
        eller noen form for "spam". Du kan ikke bruke en falsk e-postadresse, forkaste noen person eller enhet, eller på
        annen måte villede med hensyn til opprinnelsen til a kort eller annet innhold. CityBike forbeholder seg retten (men
        ikke forpliktelsen) for å fjerne eller redigere slikt innhold, men Gjennomgå ikke jevnlig oppdatert innhold. Hvis
        du legger inn innhold eller sender materiale, og med mindre vi angir noe annet, du gir CityBike og dets medarbeidere
        et ikke-eksklusivt, royaltyfritt, evigvarende, uigenkallelig og fullt utlicensierbart rett til bruk, reprodusere,
        modifisere, tilpasse, publisere, oversette, lage avledede verk fra, distribuere og vise  slikt innhold over hele
        verden i alle medier. Du gir CityBike og dets partnere og underlicenser rett  å bruke navnet du sender inn i forbindelse
        med slikt innhold, hvis de velger det. Du representerer og garanterer at du  eier eller på annen måte kontrollerer
        alle rettighetene til innholdet du legger inn: at innholdet er korrekt: den bruken av  innholdet du leverer bryter
        ikke denne retningslinjene og vil ikke forårsake skade på noen person eller enhet: og at du  vil skadesløse CityBike
        eller dets partnere for alle krav som følge av innhold du leverer. CityBike har rett  men ikke forpliktelsen til
        å overvåke og redigere eller fjerne enhver aktivitet eller innhold. CityBike tar ingen ansvar og  påtar seg intet
        ansvar for innhold som er oppført av deg eller noen tredjepart.
      </div>
      <h3>
        RISIKO AV TAP
      </h3>
      <div>
        Alle varer kjøpt fra CityBike er laget i henhold til en forsendelseskontrakt. Dette innebærer i utgangspunktet at risikoen
        for tap og   Tittel for slike varer passerer til deg ved levering til transportøren.
      </div>
      <h3>
        PRODUKTBESKRIVELSER
      </h3>

      CityBike og dets medarbeidere forsøker å være så nøyaktige som mulig. CityBike garanterer imidlertid ikke produktbeskrivelsene
      eller annet innhold på dette nettstedet er nøyaktig, fullstendig, pålitelig, gjeldende eller feilfri. Hvis et produkt
      som CityBike tilbyr Selve er ikke som beskrevet, din eneste løsning er å returnere den i ubrukt tilstand.

      <h4>
        ANSVARSFRASKRIVELSE OG ANSVARSBEGRENSNING DETTE WEBBPLATSEN LEVERES AV CITYBIKE PÅ EN "SOM DEN ER" OG "SOM TILGJENGELIG"
         BASIS. CityBike GJØR INGEN GARANTIER ELLER GARANTIER AV NOEN SÅDAN, UTTRYKKELIG ELLER UNDERFORSTÅT, VED BRUK AV
        DETTE  WEBBPLATSEN ELLER INFORMASJON, INNHOLD, MATERIALER ELLER PRODUKTER INKLUDERT PÅ DENNE SIDEN. DU GJELDER UTTRYKKELIG
        AT DIN BRUK  AV DENNE SIDEN ER PÅ DIN ENKEL RISIKO. I DEN HELST FORELØBENDE GJELDENDE LOVGIVNING, UNDERBYGGER CITYBIKE
        ALLE GARANTIER,  UTTRYKKELIG ELLER UNDERFORSTÅTET, INKLUDERT, MEN IKKE BEGRENSET TIL, UNDERFORSTÅTE GARANTIER OM
        SALGBARHET OG EGNETHET FOR ET BESTEMT  HENSIKT. CityBike garanterer ikke at dette nettstedet, dets tjenere eller
        e-post sendt fra CityBike er gratis for virus  ELLER ANDRE SKADELIGE KOMPONENTER. CityBike vil ikke være ansvarlig
        for eventuelle skader av noe slag som kommer fra bruken av dette  SITE, INKLUDERT, MEN IKKE BEGRENSET TIL DIREKTE,
        INDIREKTE, TILFELDIGE, PUNITIVE OG FØLGENDE SKADER. VISSERSTATUS  LOVGIVNING LAVER IKKE BEGRENSNINGER PÅ UNDERFORSTÅTE
        GARANTIER ELLER UTLØP ELLER BEGRENSNING AV VISSE SKADER. HVIS DENE LOVENE  GJELDER DIG, NÅR ELLER ALLE AV Ovennevnte
        DISCLAIMERS, EXCLUSIONS, ELLER BEGRENSNINGER, KAN IKKE GJELDE TIL DIG, OG DU MÅ VÆRE.  HAR YTTERLIGERE RETTIGHETER.
      </h4>
    </mat-card-content>

    <div fxLayout="row" style="width: 100%;">
      <div fxFlex="1 1 auto" class="fill-remaining-space"></div>
      <a mat-raised-button routerLink="/auth/signin">
        <i class="material-icons" matTooltip="Tilbake til Logg inn">navigate_before</i>
        <small class="font">Tilbake til Logg inn</small>
      </a>
    </div>

  </mat-card>
</div>