.search-link {
    color: #007DBD;
}

.disable {
    color:gainsboro !important;
}

.address-text {
    color: rgba(0, 0, 0, 0.87);
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}