.service-main {
    height: 100%;
    position: relative;
    width: 100%;

    &--loader {
        background-color: rgba(#fff, 0.5);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;

        img {
            width: 100px;
        }
    }

    &--left {
        height: 100%;
    }

    &__icon {
        margin-right: 5px;
        width: 100px;
    }

    &--details {
        padding-top: 10px;
        position: relative;

        .go-back {
            position: absolute;
            right: 1px;
            top: 1px;

            img {
                width: 22px;
            }
        }

        &__issue {
            margin-bottom: 15px;
        }

        &__header {
            padding-bottom: 10px;

            img {
                min-width: 44px;
            }

            .go-back {
                padding: 5px 5px 3px 5px;
                position: absolute;
                right: -5px;
                top: -10px;
                transition: 0.3s;

                &:hover {
                    background-color: #f3f3f3;
                }

                &:focus,
                &:active {
                    background-color: #f0f0f0;
                }
            }

            .dp-name {
                font-size: 14px;
                margin-top: 35px;
                width: 100%;
            }

            .lock-status {
                cursor: pointer;
                font-size: 12px;
                padding: 5px;
                transition: 0.3s;

                &:hover {
                    background-color: #f3f3f3;
                }

                &:focus,
                &:active {
                    background-color: #f0f0f0;
                }
            }

            .status-notice {
                p {
                    margin-bottom: 0;

                    &:first-child {
                        margin-right: 70px;
                        font-weight: bold;
                    }
                }
            }
        }

        &__bikeid {
            font-size: 25px;
            font-weight: 600;
            margin: 0 24px;  
            
            @media (min-width: 768px) {
                font-size: 33px;
            }

            span {
                font-weight: 400;
                margin-right: 20px;
                text-decoration: underline;
            }
        }

        &__tab {
            border-bottom: 1px solid #adadad;
            margin: 0;

            &:last-child {
                border: 0 none;
            }

            &--scroller {
                position: relative;

                .error-rate {
                    bottom: 0;
                    color: #adadad;
                    font-size: 10px;
                    left: 0;
                    line-height: 24px;
                    padding-left: 30px;
                    position: absolute;
                }

                .loader {
                    align-items: center;
                    background-color: rgba(#fff, 0.5);
                    display: flex;
                    height: 100%;
                    justify-content: center;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
            }

            &--item {
                margin-bottom: 10px;

                div {
                    width: 35px;

                    img {
                        display: block;
                        margin: 0 auto;
                    }
                }

                p {
                    font-size: 12px;
                    margin: 0;
                }
            }
        }

        &__title {
            font-size: 24px;
            font-weight: 400;
            margin: 0 0 32px;
        }

        &__date {
            font-size: 11px;
        }

        &__text-with-icon {
            font-size: 14px;
            margin-bottom: 0;
            padding-left: 30px;
            position: relative;

            &:last-child {
                margin-bottom: 20px;
            }

            &::before {
                background-color: #000;
                border-radius: 50%;
                content: "";
                display: block;
                height: 8px;
                left: 17px;
                position: absolute;
                top: 4px;
                width: 8px;
            }

            &--sms {
                &::before {
                    background-color: transparent;
                    background-image: url("/assets/images/sms.svg");
                    background-size: contain;
                    border-radius: 0;
                    height: 14px;
                    left: 11px;
                    top: 2px;
                    width: 15px;
                }
            }
        }

        &__text-with-no-data {
            font-size: 14px;
            margin: 0;
            padding: 15px 30px;
            position: relative;

            &:last-child {
                margin-bottom: 20px;
            }
        }
    }

    &--footer {
        border-bottom: 1px solid #adadad;
        padding: 24px 10px;

        button {
            background-color: #333F48;
            border: 0 none;
            border-radius: 5px;
            box-shadow: 0 0 0 rgba(#000, 0.5);
            color: #fff;
            cursor: pointer;
            height: 50px;
            transition: 0.3s;
            width: 120px;

            &:hover {
                box-shadow: 1px 1px 9px 0px rgba(#000, 0.5);
            }
        }

        a {
            background-color: #333f48;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            padding: 13px 35px;
            transition: 0.3s;

            &:hover {
                background-color: darken(#333f48, 5%);
            }

            &:active,
            &:focus {
                background-color: darken(#333f48, 10%);
            }
        }

        p {
            font-size: 12px;
            margin: 7px 0 10px;

            @media (min-width: 960px) {
                margin-bottom: 0;
            }
        }

        &-error-report {
            border: 0 none;
        }
    }

    &--right {
        height: calc(100vh - 115px);
        overflow: auto;
        padding: 20px 60px;

        h3 {
            font-size: 35px;
            margin-top: 0;
            text-align: center;
        }

        &__item {
            margin-bottom: 23px;

            &:last-child {
                margin-bottom: 0;
            }

            &--img {
                margin-right: 20px;
                width: 40px;
            }

            &--details {
                h4 {
                    font-weight: 400;
                    margin: 0;
                }

                p {
                    color: #adadad;
                    font-size: 13px;
                    margin: 0;
                }
            }
        }
    }
}

.service-main-handover {
    white-space: nowrap;
}

.freebike-lock-unlock {
    opacity: 25%;
    cursor: default !important;
    pointer-events: none;
}

.see-older {
    font-size: 14px;
    text-decoration: underline;
}

.most-recent {
    display: block;
    font-size: 14px;
    text-align: right;
    text-decoration: underline;
}

.cb-wrapper {
    margin-bottom: 10px;
}

.rb-wrapper {
    margin-bottom: 20px;
    margin-top: 30px;
}

.field-section {
    padding-left: 10px;

    label {
        font-size: 14px;
        margin-bottom: 5px;
        text-transform: uppercase;
    }

    input, textarea {
        border: 1px solid #ddd;
        border-radius: 0;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14),
        0px 3px 4px rgba(0, 0, 0, 0.12),
        0px 1px 5px rgba(0, 0, 0, 0.2);
        resize: none;
    }

    input {
        height: 38px;
        margin-bottom: 10px;
        width: 89px;
    }

    textarea {
        height: 110px;
        width: 100%;
    }
}

.custom-tooltip {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #000000 !important;
    font-size: 14px;
    line-height: 22px;
    padding: 5px;
    white-space: pre-line;
}
.error-text{
    color: red;
    font-size: 14px;
}

.time-spent-input {
    align-items: baseline;
    display: flex;

    input {
        margin-right: 5px;
        padding: 0 5px;

        &:last-of-type {
            margin-left: 5px;
        }
    }
}