.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -55%);
}

.inner {
  margin-left: auto;
  margin-right: auto;
}

.forgot-logo {
  width: 170px;
}

.logo-main {
  margin-right: 10px;
}

.logo-text {
  font-size: 23px;
  color: white;
  font-weight: 400;
}