table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #4CAF50;
    color: white;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.font {
    font-size: 12px;
}

.disable {
    color: gainsboro !important;
}

.disable-click {
    color: gainsboro !important;
    pointer-events: none;
}

.search-bar {
    padding-left: 5%;

    .search-form {
        background: rgba(255, 255, 255, 1);
        position: relative;
        border-radius: 1px;
        margin-right: 1px;
        display: block;
        width: 100%;
        min-width: 280px;
        outline: 1px solid #04a3e3;

        input {
            font-family: "Muli", "Helvetica Neue", Helvetica, sans-serif;
            font-size: 1rem;
            padding: .50rem .75rem;
            z-index: 2;
            cursor: text;
            text-indent: 30px;
            border: none;
            background: transparent;
            width: calc(100% - 1.5rem);
            outline: 0;
        }

        .material-icons {
            position: absolute;
            top: 50%;
            left: 10px;
            margin-top: -12px;
            // color: rgba(md-color($foreground, base), 0.87);
        }
    }

    @media (min-width: 992px) {
        max-width: 270px;
    }
}

.mat-card-title {
    .card-title {
        margin-bottom: 10px;
        margin-right: 15px;

        @media (min-width: 960px) {
            margin-bottom: 0;
            min-width: 200px;
        }
    }

    .search-bar {
        margin-bottom: 10px;
        padding-left: 0;

        @media (min-width: 600px) {
            margin-bottom: 0;
            margin-right: 10px;
            width: 270px;
        }

        @media (min-width: 768px) {
            width: auto;
        }

        .search-form {
            @media (min-width: 600px) {
                top: 1px;
            }

            @media (min-width: 960px) {
                max-width: 450px;
            }
        }
    }
}

.fixed-height-table {
    height: calc(100vh - 240px);
    min-height: 200px;

    @media (min-width: 768px) {
        height: calc(100vh - 205px);
    }

    @media (min-width: 960px) {
        height: calc(100vh - 165px);
    }
}

.area-selector {
    font-size: 12px;
    margin-right: 15px;
    margin-top: 20px;
    width: 100% !important;

    @media (min-width: 960px) {
        margin-top: 12px;
    }

    .mat-select {
        height: 15px;
    }
}

.open-repair-history {
    margin-left: 5px;
}

.ds-filter-btn-wrapper {
    a {
        margin-bottom: 5px;
        margin-right: 5px;
    }
}

.bike-selector-wrapper {
    @media (min-width: 960px) {
        padding-left: 15px;
    }

    @media (min-width: 1919px) {
        align-items: flex-start !important;
        flex-direction: row !important;
    }
}

.ds-filter-btn-wrapper {
    margin-top: 15px;

    @media (min-width: 1280px) {
        margin-top: 0;
    }
}