.repair-action-form-field-full-width {
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.image-container {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 60%;
}

.modal-buttons-wrapper {
  padding-top: 20px;
  width: 100%;
}

.repair-action-form-wrapper {
  max-width: 750px;
}
