.status-label {
  width: 70px;
  border-radius: 35px;
  text-align: center;
  color: #fff;
}

.inactive {
  background-color: red;
}

.active {
  background-color: green;
}

.block {
  height: -webkit-calc(56vh);
  height: -moz-calc(56vh);
  height: calc(56vh);
}

.btn-style {
  background-color: #04a3e3;
  border-radius: 35px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: 125px;
  padding: 2px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.btn-style:hover {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24), 0 3px 4px 0 rgba(0, 0, 0, 0.19);
}

.dropdown-placeholder {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
}

.mat-form-field {
  width: 100%;
}

.fixed-height-table {
  height: calc(100vh - 250px);
  min-height: 200px;

  @media (min-width: 560px) {
    height: 100vh;
  }

  @media (min-width: 666px) {
    height: calc(100vh - 100px);
  }

  @media (min-width: 768px) {
    height: calc(100vh - 520px);
  }

  @media (min-width: 800px) and (max-width: 812px) {
    height: 100vh;
  }

  @media (min-width: 900px) {
    height: calc(100vh - 465px);
  }
}

.text-limiter {
  overflow: hidden;
  padding-right: 25px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 97%;

  @media (min-width: 768px) {
    width: 715px;
  }

  span {
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    right: 0;
    top: -1px;

    @media (min-width: 768px) {
      font-size: 19px;
    }
  }
}

.inline-text {
  display: inline;
}

.events-datepicker {
  button {
    margin-bottom: 13px;
    margin-left: 10px;
    min-width: 75px;

    @media (min-width: 960px) {
      margin-bottom: 18px;
    }
  }
}