<div id="issues" class="result-container" (window:resize)="onResize()">
  <mat-card style="padding-top: 10px;">
    <mat-card-content>

      <div fxLayout="row wrap" fxLayoutAlign="end " style="padding-bottom: 10px;">
        <div fxLayout="column" fxLayoutAlign="end end">
          <div fxLayout="row wrap" class="custom-fields-wrapper">
            <div class="custom-fields-wrapper__inner">
              <mat-label class="dropdown-placeholder">{{'REPORT_ERROR.SELECT_CATEGORY' | translate}}</mat-label>
              <mat-form-field class="issue-cat-select">
                <mat-select [formControl]="categoryCtrl" [multiple]="true" (openedChange)="filterByCategories($event)">
                  <mat-option>
                    <ngx-mat-select-search [showToggleAllCheckbox]="true" [toggleAllCheckboxChecked]="true"
                      (toggleAll)="toggleSelectAll($event)" style="font-size: 15px;" [formControl]="categoryFilterCtrl"
                      noEntriesFoundLabel="{{'REPORT_ERROR.NOT_FOUND' | translate}}"
                      placeholderLabel="{{'REPORT_ERROR.FILTER_BY_CATEGORIES' | translate}}">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
                    {{category.DisplayName}}({{category.Count}})
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="custom-fields-wrapper__inner">
              <mat-label class="dropdown-placeholder">{{'REPORT_ERROR.END_USERS' | translate}}</mat-label>
              <mat-select placeholder="{{'REPORT_ERROR.FILTER_BY_END_USERS' | translate}}" [(value)]="selectedAppUser"
                (selectionChange)="onAppUserChange()">
                <mat-option *ngFor="let endUser of endUsers" [value]="endUser">{{ endUser | translate}}
                </mat-option>
              </mat-select>
            </div>
            <div class="custom-fields-wrapper__inner">
              <mat-label class="dropdown-placeholder">{{'REPORT_ERROR.STATUS' | translate}}</mat-label>
              <mat-select placeholder="{{'REPORT_ERROR.FILTER_BY_STATUS' | translate}}" [(value)]="selectedStatus"
                (selectionChange)="onIssueStatusChange()">
                <mat-option *ngFor="let status of issueStatus" [value]="status.id">{{status.name | translate}}
                </mat-option>
              </mat-select>
            </div>
            <div>
              <div fxFlex="1 1 auto" class="fill-remaining-space"></div>
              <div style="padding-top: 5px !important">
                <!-- <mat-button-toggle-group #group="matButtonToggleGroup" value="all">
                            <mat-button-toggle value="all" (change)="listOngoingOrders()">
                              <small class="font"> {{ 'REPORT_ERROR.ONGOING_ORDERS' | translate }}</small>
                            </mat-button-toggle>
                            <mat-button-toggle value="lastDay" (change)="listCompletedOrders()">
                              <small class="font"> {{ 'REPORT_ERROR.COMPLETED_ORDERS' | translate }}</small>
                            </mat-button-toggle>
                          </mat-button-toggle-group> -->
                <div class="events-filters">
                  <mat-label class="dropdown-placeholder">{{'REPORT_ERROR.FILTER_DATE' | translate}}</mat-label>
                  <mat-select placeholder="Filter By Date" [(value)]="selectedDate" (selectionChange)="onDateChange($event)">
                    <mat-option *ngFor="let dateRange of dateRanges" [value]="dateRange.id">{{dateRange.name | translate}}</mat-option>
                  </mat-select>
                </div>
              </div>
            </div>
          </div>
          

          <div *ngIf="isCustomDateShown" class="issues-custom-search" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="end end">
            <mat-form-field>
              <input matInput [matDatepicker]="fromPicker" [(ngModel)]="fromDate"
                placeholder="{{'REPORT_ERROR.DATE_FROM' | translate}}" (dateChange)="onStartDatePicked($event)">
              <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
              <mat-datepicker #fromPicker startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
          
            <mat-form-field>
              <input matInput [matDatepicker]="endPicker" [(ngModel)]="toDate" placeholder="{{'REPORT_ERROR.DATE_TO' | translate}}"
                (dateChange)="onEndDatePicked($event)">
              <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
              <mat-datepicker #endPicker startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
          
            <button mat-raised-button (click)="onCustomDateSearchClicked()">
              <small class="font"> {{ 'COMMON.SEARCH' | translate }}</small>
            </button>
          </div>
        </div>
      </div>
      <ngx-datatable class="material expandable fixed-height-table" [rows]="filteredErrorReports" [columnMode]="'flex'"
        [headerHeight]="50" [loadingIndicator]="loadingIndicator" [scrollbarH]="true" #issuesTable [footerHeight]="50"
        [scrollbarV]="true" [rowHeight]="53">

        <!-- Row Detail Template -->
        <ngx-datatable-row-detail [rowHeight]="150" #bikeDetailRow *ngIf="isMobile">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
            <div style="padding-left:15px;font-size: 13px;">
              <div style="padding-top:10px;">
                <strong>{{'REPORT_ERROR.BIKE_ID' | translate}} :</strong> <span [style.color]="row.ReasonColor">{{
                  row.BikeId }}</span>
              </div>
              <div style="padding-top:10px;">
                <strong>{{'REPORT_ERROR.CATEGORIES' | translate}} :</strong> {{row.ErrorCategoriesText}}
              </div>
              <div style="padding-top:10px;">
                <strong>{{'DOCKING_STATION.NAME' | translate}} :</strong>
                <span>{{row.DockingStationName}}</span>
              </div>
              <div style="padding-top:10px;">
                <strong>{{'REPORT_ERROR.DPVISUAL_ID' | translate}} :</strong>
                <span>{{row.DPVisualId}}</span>
              </div>
              <div style="padding-top:10px;">
                <strong>{{'REPORT_ERROR.RIDE_SESSION_ID' | translate}} :</strong>
                <a href="javascript:void(0)"
                  (click)="openDetailsInNewWindow('/sessions/' + row.SessionId, row.SessionId)"
                  style="color:#007dbd;vertical-align: super;">{{row.SessionId}}</a>
              </div>
              <div style="padding-top:10px;">
                <strong>{{'REPORT_ERROR.USER' | translate}} :</strong>
                <span>{{row.EndUser}}</span>
              </div>
              <div style="padding-top:10px;">
                <strong>{{'REPORT_ERROR.END_USER' | translate}} :</strong>
                <span>{{row.EndAppUserId}}</span>
              </div>
              <div style="padding-top:10px;">
                <strong>{{'REPORT_ERROR.REPORTED_DATE' | translate}} :</strong>
                <span>{{ row.ReportedDate | convertTime }}</span>
              </div>
              <div style="padding-top:10px;">
                <strong>{{'REPORT_ERROR.COMPLETED_DATE' | translate}} :</strong>
                <span>{{ row.CompletedDate | convertTime }}</span>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-row-detail>

        <!-- Column Templates -->
        <ngx-datatable-column [width]="10" [resizeable]="false" [sortable]="false" [draggable]="false"
          [canAutoResize]="false" *ngIf="isMobile">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
              title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
            </a>
          </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column prop="BikeId" name="{{'REPORT_ERROR.BIKE_ID' | translate}}" [flexGrow]="0.15"
          [minWidth]="35">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <div>
              <a href="/bikes/support?visualId={{row.VisualId}}"
                style="color:#007dbd;vertical-align: super;">{{row.VisualId}}</a>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="Categories" name="{{'REPORT_ERROR.CATEGORIES' | translate}}" [flexGrow]="1.25"
          [minWidth]="100" [width]="125" *ngIf="!isMobile">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span matTooltip="{{ row.ErrorCategoriesText }}" class="truncate">{{ row.ErrorCategoriesText }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="DockingStationName" name="{{'SESSION_SUMMARY.DOCKING_STATION_NAME'|translate}}"
          [flexGrow]="0.65" [minWidth]="80" [width]="80" *ngIf="!isMobile">
          <ng-template let-value="value" ngx-datatable-cell-template let-row="row">{{value}} </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="DPVisualId" name="{{'REPORT_ERROR.DPVISUAL_ID'|translate}}" [flexGrow]="0.65"
          [minWidth]="80" [width]="80" *ngIf="!isMobile">
          <ng-template let-value="value" ngx-datatable-cell-template let-row="row">{{value}} </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="SessionId" name="{{'REPORT_ERROR.RIDE_SESSION_ID'|translate}}" [flexGrow]="0.65"
          [minWidth]="80" [width]="80" *ngIf="!isMobile">
          <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
            <a href="javascript:void(0)" (click)="openDetailsInNewWindow('/sessions/' + value, value)"
              style="color:#007dbd;vertical-align: super;"> {{value}} </a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="EndUser" name="{{'REPORT_ERROR.USER' | translate}}" [flexGrow]="0.5"
          [minWidth]="100" [width]="125" *ngIf="!isMobile">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{ row.EndUser }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="EndAppUserId" name="{{'REPORT_ERROR.END_USER' | translate}}" [flexGrow]="0.5"
          [minWidth]="100" [width]="125" *ngIf="!isMobile">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{ row.EndAppUserId }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="ReportedDate" name="{{'REPORT_ERROR.REPORTED_DATE' | translate}}" [flexGrow]="0.5"
          [minWidth]="100" [width]="125" *ngIf="!isMobile">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{ row.ReportedDate | convertTime }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column *ngIf="reportFilterToggle!=0 && !isMobile" prop="CompletedDate"
          name="{{'REPORT_ERROR.COMPLETED_DATE' | translate}}" [flexGrow]="0.5" [minWidth]="100" [width]="125">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span>{{ row.CompletedDate | convertTime }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="ReportMore" name="" [flexGrow]="0.5" [minWidth]="100" [width]="125">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span class="list-icon btn-style" (click)="OpenIndividualIssueDetail(row)">
              {{'REPORT_ERROR.DETAILS' | translate}}
            </span>
          </ng-template>
        </ngx-datatable-column>


      </ngx-datatable>
    </mat-card-content>
  </mat-card>
</div>